
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Museo Sans Rounded', sans-serif;
    /* border: 1px solid red; */

}
.main-container{
    width: 100%;
    height: auto;
    background-image: url("./img/orange-shade.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.navbar{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 15px;
    padding-inline: 1%;
    z-index: 5;
}
.navbar-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    column-gap: 30px;
}
.navbar-left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
    column-gap: 30px;
}

.navbar a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(47,47,47);
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -0.5px;
}
.navbar a:hover{
    color: rgb(243,126,93);
}
.navbar a img{
    width: 45px;
    
}
.navbar a h1{
    font-size: 25px;
    color: rgb(50,50,72);
    font-weight: 600;
    letter-spacing: -1px;
}
.navbar button{
    height: 42px;
    width: auto;
    padding-inline: 18px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    background-color:rgb(243,126,93) ;
    border: none;
    font-weight: 550;
}

.menu{
    display: none;
}

.menu i{
    font-size: 26px;
    color: rgb(165, 160, 160);
}



.container1{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 3%;
    position: relative;
}
.left1{
    height: auto;
    width: 40%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-inline: 30px;
    row-gap: 20px;
}
.left1 h3{
    font-size: 50px;
    color: rgb(75,75,75);
    font-weight: 500;
    line-height: 70px;
}
.left1 h3 span{
    font-size: 49px;
    font-weight: 100;
    font-family: sans-serif;
    font-style: italic;

   
}

.left1 h6{
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    color: rgb(118, 118, 118);
    letter-spacing: 0.5px;
}

.btn{
    height: 50px;
    width: 220px;
    font-size: 16px;
    background-color: rgb(243,126,93);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 30px;
}

.left1 p{
    font-size: 14px;
    font-weight: 200;
    margin-left: 20px;
    color: rgb(159, 155, 151);
}

.right1{
    height: 670px;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    
}

.right1 img:first-child{
    width: 98%;
    position: relative;
    top:0px;
    z-index: 0;
}
.right1 img:nth-child(2){
    
    width: 53%;
    z-index: 1;
    position: absolute;
    top: 107px;
    left: 380px;
}
.right1 img:nth-child(3){
    
    width: 40%;
    z-index: 2;
    position: absolute;
    bottom: 13%;
    right: 12%;
    
}
.right1 img:nth-child(4){
    
    width: 40%;
    position: absolute;
    z-index: 3;
    bottom: 6%;
    right: 7.5%;
    
}
.right1 img:nth-child(5){
    display: inline;
    z-index: 4;
    width: 40%;
    position: absolute;
    bottom: -6%;
    right:3%;
}
.right1 img:nth-child(6){
   z-index: 1;
   width: 25%;
   position: absolute;
   bottom:12%;
   left:2% ;
}
.right1 img:nth-child(7){
    z-index: 1;
    width: 25%;
    position: absolute;
    bottom:3%;
    left:21.5% ;
}

marquee{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:4;
}

marquee img{
    width: 150px;
    height: 60px;
    margin-right:40px ;
}
marquee img:last-child{
    width: 50px;
    height: 45px;
}
#msg{
    position:fixed;
    right: 1.5%;
    bottom: 3%;
    width:60px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    z-index: 10;
    background-color:rgb(243,126,93);
    text-decoration: none;
}
#msg i{
    font-size: 27px;
    color: white;
    background-color: transparent;
    font-weight:600;
}

.container2{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 50px;
    padding-block: 6%;
}
.container2 h1{
    font-size: 36px;
    font-weight: 500;
    color: rgb(75,75,75);
}
.box{
    height: auto;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    column-gap: 30px;
    row-gap: 30px;
}
.box1{
    height: 350px;
    width: 440px;
    display: flex;
    align-items: start;
    justify-content: center;
    justify-content: space-between;
    padding: 2.5%;
    flex-direction: column;
    text-align: left;
    border-radius: 40px;
    

}

.box1 img{
    width: 60px;
    background-color:transparent;
}
.box1 h2{
    font-size: 36px;
}

.box1 p{
    font-size: 19px;
    line-height: 25px;
    width: 94%;
}
.box1 a{
    text-decoration: none;
    font-size: 19px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.box1:first-child{
    background-color: rgb(25,53,35);
}
.box1:first-child h2{
    color: rgb(233,255,242);
}
.box1:first-child p{
    color: rgb(233,255,242);
    
}
.box1:first-child a{
    color: rgb(233,255,242);   
}
.box1 i{
    font-size: 16px;
    color: rgb(233,255,242);
}
.box1:nth-child(2){
    background-color: rgb(36,26,66);
    color: rgb(228,223,248);
}

.box1:nth-child(2) a{
    color: rgb(228,223,248);
}
.box1:nth-child(3){
    background-color: rgb(50,50,72);
    color: rgb(242,242,242);
}

.box1:nth-child(3) a{
    color: rgb(242,242,242);
}
.box1:nth-child(4){
    background-color: rgb(63,114,217);
    color: rgb(189,211,243);
}

.box1:nth-child(4) a{
    color: rgb(189,211,243);
}
.box1:nth-child(5){
    background-color: rgb(131,92,229);
    color: rgb(215,202,247);
}

.box1:nth-child(5) a{
    color: rgb(215,202,247);
}

.container3{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("./img/ctaBackground.png");
    background-position: top;
    background-size: 78%;
    background-repeat: no-repeat;
    row-gap: 30px;
    padding-block: 7%;
    text-align: center;
}

.container3 h1{
    font-size: 36px;
    color: rgb(75,75,75);
    
}

.container3 h2{
    font-size: 36px;
   
    color: rgb(243,126,93);
}
.btn2{
    height: 52px;
    width: 220px;
    font-size: 16px;
    background-color: rgb(243,126,93);
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
}

.container3 p{
    font-size: 15.5px;
    color: rgb(75, 74, 73);
}

.container4{
    height: auto;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 1% 12%;
    background-color: rgb(248,248,248);
}
.footer-section{
    height: auto;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;

}
.left3{
    height: auto;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    row-gap: 10px;
}

.left3 img{
    width: 100px;
}
.left3 a{
    text-decoration: none;
    color: rgb(139,139,139);
}

.left3 span{
    height: auto;
    width: auto;
    display: flex;
    align-items: start;
    justify-content: start;
    column-gap: 20px;
    flex-wrap: wrap;

}
.left3 span img{
    width: 60px;
}
.left3 span img:first-child{
    width: 55px;
}
.left3 span img:last-child{
    width: 50px;
}

.right3{
    height: auto;
    width: 80%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 80px;
    padding-right: 2%;

}
.right3 .prs{
    height: auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    row-gap: 5px;
    
}
.prs li{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
.prs hr{
    width: 95%;
    color: rgb(124,124,124);
}

.prs li img{
    width: 30px;
}

.right3 ul{
    height: auto;
    width: 30%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.right3 ul li{
    list-style: none;
}
.right3 h5{
    font-size: 16px;
    color: rgb(75,75,75);
    letter-spacing: 1px;
    line-height: 30px;
}

.right3 ul li a{
    text-decoration: none;
    color: rgb(124,124,124);
    line-height: 30px;
}

.right3 ul li a:hover{
    color: black;
}

.lower-ft{
    width: 100%;
    height: auto;
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(124,124,124);
    font-size: 14.5px;
}
.lower-ft p a{
    color: rgb(137, 136, 136);
    font-weight: 200;
}
.icon{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    
    
}
.icon a{
    width:35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color:rgb(153, 144, 144);
    text-decoration: none;
}
.icon a i{
    color: white;
    font-size: 20px;
}














@media(max-width:768px){
    .main-container{
        width: 100%;
        height: auto;
        
    }
    .navbar{
        width: 100%;
        background-color: white;
        padding-inline:3%;
    }
    .list{
        display: inline;
    }
    .navbar-left li{
        display: none;
    }
    .navbar-right li{
        display: none;
    }
    .navbar-right li:first-child{
        display: inline;
    }
    .navbar-left li:last-child{
        display: inline;
    }

    .navbar-right{
        justify-content: start;
    }
    .navbar-left{
        justify-content:end;
    }
    .menu{
        display:inline;
        height: auto;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px 12px;
        border: none;
        box-shadow: 0px 2px 3px 1px rgb(238, 232, 232);
    }
    
    .container1{
        height: auto;
        width: 100%;
        flex-direction: column;
        padding-block: 0px;
    }
    .left1{
        height: auto;
        width: 100%;
    }
    .left1 h3{
        width: 95%;
    }
    .right1{
        height: auto;
        width: 100%;
        padding-block: 50px;
        position: relative;
    }

    .right1 img:first-child{
        width: 95%;
        top: 0px;
    }
    .right1 img:nth-child(2){
        width: 45%;
        top: 28%;
        left: 45%;
    }
    .right1 img:nth-child(3){
        width: 40%;
        bottom: 24%;
        right:10%;
    }
    .right1 img:nth-child(4){
        width: 43%;
        bottom:15% ;
        right: 3%;
    }
    .right1 img:nth-child(5){
        width: 40%;
        bottom:7% ;
        right:1% ;

    }
    .right1 img:nth-child(6){
        width: 23%;
        bottom:24%;
        left: 7%; 
    }
    .right1 img:nth-child(7){
        width: 23%;
        bottom: 15%;  
        left:26%;
    }
    marquee{
        margin-top:-30px ;
    }
    .container2{
        padding-block: 40px;
    }
    .container3{
        padding: 10% 8%;
        background-position: 0%;
        background-size: cover;
    }

    .container4{
        height: auto;
        width: auto;
        padding: 5% 7%;
        
    }
    .footer-section{
        flex-direction: column;
        row-gap: 10px;
    }
    .left3{
        width: 100%;
    }
    .right3{
        width: 100%;
    }

    .lower-ft{
        flex-direction: column-reverse;
        row-gap: 20px;
    }


    

    
}

